:host {
  width: 100%;
}
table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  min-width: 200px;
}

td,
th :nth-child(4) {
  max-width: 200px;
}

.mat-form-field {
  width: 90%;
  margin: 0 auto;
  display: block;
  text-align: center;
  input {
    width: 20%;
  }
}

.additional-information {
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  text-overflow: ellipsis;
}

.test {
  width: 100%;
  overflow-x: auto;
}

.sort-toggle {
  display: none;
}

@media screen and (max-width: 1100px) {
  table {
    width: 100%;
    margin: 0;
  }
}
